@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeue.otf');
}

:root {
  font-family: 'Helvetica Neue', Helvetica;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 400;

  background-image: url('./assets/wallpapers/fondo2.jpg');
  /* background-position: center;
  background-attachment: fixed; */

  background-size: cover;
  background-repeat: no-repeat;
   
  
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
