.container {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
  .filters {
    background-color: rgb(0, 0, 0, 0.8);
    width: 15%;
    height: 489px;
    padding: 20px 0;
    border-radius: 10px;
    color: white;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20px;
    & .selects{
      display: flex;
      flex-direction: column;
      align-items: center;
      & select {
        margin-bottom: 30px;
        padding: 10px 0;
        border-radius: 20px;
        text-align: center;
        border: solid 2px black;
        font-family: "Helvetica Neue";
        text-transform: uppercase;
        font-size: large;
        font-weight: bold;
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
      }
    }

    & button {
        font-family: "Helvetica Neue";
        text-transform: uppercase;
        font-size: large;
        font-weight: bold;
        padding: 10px;
        border-radius: 10px;
        border: solid 2px black;
        &:hover {
          cursor: pointer;
          background-color: #019ca0;
          
        }
      }
  }
  
  .cards {
    width: 80%;
  }

  .search {
    text-align: center;
    margin-bottom: 20px;
  }